<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{redirect}">
    <f:form.hidden name="redirect" value="{redirect}" />
</f:if>

</html>
