@charset "UTF-8";

#tx_cookies_showPermanent {
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 1040; /* higher than z-index of Bootstrap header */
}
#tx_cookies_inner {
    position: fixed;
    bottom: 0;
    z-index: 1040; /* higher than z-index of Bootstrap header */
    width: 100%;
}
#tx_cookies #tx_cookies_close {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
