<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

    <div id="tx_cookies">
        <f:if condition="{settings.showPermanent}">
            <div id="tx_cookies_showPermanent" class="collapse-by-show collapse-by-close collapse show">
                <button
                        class="btn btn-secondary"
                        type="button"
                        title="{f:translate(key: 'cookie.showPermanent')}"
                        data-toggle="collapse"
                        data-bs-toggle="collapse"
                        data-target=".collapse-by-show"
                        data-bs-target=".collapse-by-show"
                        aria-expanded="false"
                        aria-controls="tx_cookies_inner tx_cookies_showPermanent">
                    <f:translate key="cookie.showPermanent" />
                </button>
            </div>
        </f:if>
        <div id="tx_cookies_inner" class="p-3 bg-light collapse-by-show collapse-by-close collapse">
            <button
                    id="tx_cookies_close"
                    class="btn btn-dark"
                    type="button"
                    title="{f:translate(key: 'cookie.close')}"
                    data-toggle="collapse"
                    data-bs-toggle="collapse"
                    data-target=".collapse-by-close"
                    data-bs-target=".collapse-by-close"
                    aria-expanded="false"
                    aria-controls="tx_cookies_inner{f:if(condition: settings.showPermanent, then: ' tx_cookies_showPermanent')}">
                <f:translate key="cookie.close" />
            </button>
            <h3><f:translate key="cookie.heading" /></h3>
            <p id="tx_cookies_hint">
                <f:translate key="cookie.hint" />
            </p>
            <f:if condition="{settings.pidReadmore}">
                <p id="tx_cookies_link">
                    <f:link.page pageUid="{settings.pidReadmore}"><f:translate key="cookie.readmore" /></f:link.page>
                </p>
            </f:if>
            <f:form
                    id="tx_cookies_accept"
                    pageUid="{settings.pidProcess}"
                    action="submit"
                    method="post"
                    additionalAttributes="{data-expire: settings.expire}">
                <f:form.hidden name="accept" value="1" />
                <f:render partial="Redirect" arguments="{redirect: redirect}"/>
                <p>
                    <f:form.submit name="submit" value="{f:translate(key: 'submit.accept')}" class="btn btn-primary" />
                </p>
            </f:form>
            <f:if condition="{settings.disable}">
                <f:form id="tx_cookies_disable" pageUid="{settings.pidProcess}" action="submit" method="post">
                    <f:form.hidden name="disable" value="1" />
                    <f:render partial="Redirect" arguments="{redirect: redirect}"/>
                    <p>
                        <f:form.submit name="submit" value="{f:translate(key: 'submit.disable')}" class="btn btn-secondary" />
                    </p>
                </f:form>
            </f:if>
            <f:if condition="{settings.types}">
                <f:form id="tx_cookies_types" pageUid="{settings.pidProcess}" action="submit" method="post">
                    <f:render partial="Redirect" arguments="{redirect: redirect}"/>
                    <f:for each="{settings.types}" as="typeCat" key="type">
                        <div class="form-group">
                            <div class="form-check">
                                <f:variable name="checked">0</f:variable>
                                <f:if condition="{typeCat} > 0">
                                    <f:variable name="checked">1</f:variable>
                                </f:if>
                                <f:form.checkbox
                                        id="tx_cookies-type-{type}"
                                        class="form-check-input"
                                        name="type-{type}"
                                        value="1"
                                        checked="{checked}"
                                        disabled="{f:if(condition: '{typeCat} == 2', then: 'disabled')}" />
                                <f:if condition="{typeCat} == 2">
                                    <f:form.hidden name="type-{type}" value="1" />
                                </f:if>
                                <label class="form-check-label" for="tx_cookies-type-{type}">
                                    <f:translate key="cookie.type.{type}" />
                                </label>
                                <small class="form-text"><f:translate key="cookie.type.{type}.description" /></small>
                            </div>
                        </div>
                    </f:for>
                    <f:form.submit name="submit" value="{f:translate(key: 'submit.types')}" class="btn btn-secondary" />
                </f:form>
            </f:if>
        </div>
    </div>

</f:section>

</html>
